.input-wrapper {
	margin-bottom: 10px;
	position: relative;
	display: inline-block;
	font-family: "Arial";
}

.timepicki-container {
	position: absolute;
	background: #FFF;
	right: 0;
	top: 25px;
	padding: 15px;
	border: 1px solid #000;
	z-index: 999;
}

.timepicki-container-normal {
	width: 154px;
}

.timepicki-container-meridian {
	width: 112px;
}

.timepicki-input-wrap {
	display: inline-block;
	margin: 0 15px;
}

.timepicki-input-wrap-left {
	margin-left: 0;
}

.timepicki-input-wrap-right {
	margin-right: 0;
}

.close-icon {
	position: absolute;
	right: 7px;
	top: 2px;
	cursor: pointer;
}

.timepicki-input {
	width: 25px;
	text-align: center;
}

.timepicki-arrow {
	margin: 10px 3px;
    display: block;
    cursor: pointer;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.up-arrow {
    border-bottom: 12px solid #2f2f2f;
}


.down-arrow {
    border-top: 12px solid #2f2f2f;
}

.timepicki-button-container {
	margin-top: 15px;
}

.timepicki-button {
	margin-right: 10px;
	border: none;
	padding: 5px 8px;
	cursor: pointer;
}

.timepicki-done-button {
	background: #0091f2;
	color: #fff;
}

.timepicki-reset-button {
    background: #e2e2e2;
    margin-right: 0;
}

.timepicki-cancel-button {
    background: #e2e2e2;
}